.case {
    cursor: pointer;
    width: 256px;
    background-color: #4C58FF;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 15px;
}
.case:hover {
    cursor: pointer;
    width: 256px;
    background-color: #7593FF;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 15px;
}
.case_picture {
    cursor: pointer;
    padding-top: 4px;
    padding-bottom: 12px;
    padding-left: 10px;
    padding-right: 10px;
}
strong {
    color: rgb(49, 151, 116);
    font-family: Corbel, "Lucida Sans", sans-serif;
    font-weight: none;
}
