.case {
    cursor: pointer;
    width: 200px;
    height: 244px;
    display: inline-block;
    background-color: rgba(110, 119, 128, 0.67);
    transform: translateX(0px) translateY(0px);
    padding-top: 20px;
    padding-bottom: 20px;
    background-clip: padding-box;
    font-weight: none;
    text-decoration: none;
    text-align: center;
    margin: 0;
}
.case:hover {
    cursor: pointer;
    width: 200px;
    height: 244px;
    display: inline-block;
    background-color: rgba(82, 96, 150, 0.6);
    transform: translateX(0px) translateY(0px);
    padding-top: 20px;
    padding-bottom: 20px;
    background-clip: padding-box;
    font-weight: none;
    text-decoration: none;
    text-align: center;
    margin: 0;
}
.case_picture {
    width: 160px;
    cursor: pointer;
    padding-top: 4px;
    padding-left: 20px;
    padding-right: 20px;
    background: rgba(0, 0, 0, 0) url(../images/case/CaseShadow.png) no-repeat 50% 50%;
    background-size: auto 250px;
}
strong {
    font-family: Corbel, "Lucida Sans", sans-serif;
    font-weight: none;
    text-decoration: none;
    font-size: 140%;
    color: #EF851A;
    padding-bottom: 10px;

}
.case_img {
    width: 160;
    height: 130;
    padding-bottom: -20px;
}
