.logo {
          float: left;
          position: relative;
          top: -80px;
          left: 30px;
}

.dno {
          float: bottom;
}

.lifeline {
          border: 2px solid white;
          background-color: darkgreen;
          margin-top: 80px;    
          margin-left: 8px;
          margin-right: 8px;
          margin-bottom: 40px;
          padding: 40px;
}
.caseplaceItem {
          border: 5px ridge white;
          margin-top: 20px;
          margin-bottom: 10px;
          margin-left: 5px;
          margin-right: 5px;
}
.casezone {
        background: rgba(0, 0, 0, 0.8);
          display: block;
}
