.logo {
          float: left;
          position: relative;
          top: -80px;
          left: 30px;
}

.dno {
          float: bottom;
}

.lifeline {
          border: 2px;
          background-color: darkgreen;
          margin: 30px;         
}
