.logo {
          float: left;
          position: relative;
          top: -80px;
          left: 30px;
}

.dno {
          float: bottom;
}

.lifeline {
          border: 2px solid white;
          background-color: darkgreen;
          margin: 5px;      
          padding: 40px;
}
